<!DOCTYPE html>
<html>
        <head>
		<title>IP Address Consolidation</title>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{% load static %}
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/index.css' %}" rel="stylesheet">
		<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</head>

	<body>

        <div class="navbar navbar-inverse navbar-fixed-top"> 
            <div class="container"> 
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button> <a class="navbar-brand" href="/">IP Address Consolidation</a> 
                </div> 
                <div class="collapse navbar-collapse" id="myNavbar"> 
                    <ul class="nav navbar-nav navbar-right"> 
                            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign up</a></li> 
                            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> 
                    </ul> 
                </div> 
            </div> 
        </div>

		<footer class = "navbar navbar-fixed-bottom">
            <div class="container"> 
                <center> 
                    <p>
                        For further information contact A Kedarnath (<a href="mailto:akedar@iitk.ac.in">akedar@iitk.ac.in</a>) or Atreya Goswami (<a href="mailto:atreya@iitk.ac.in">atreya@iitk.ac.in</a>).
                    </p> 
                </center> 
            </div> 
        </footer>
	</body>
</html>