<!DOCTYPE html>
<html>
        <head>
		<title>IP Address Consolidation</title>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{% load static %}
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/index.css' %}" rel="stylesheet">
		<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</head>

	<body>

        <div class="navbar navbar-inverse navbar-fixed-top"> 
            <div class="container"> 
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button> <a class="navbar-brand" href="/">IP Address Consolidation</a> 
                </div> 
                <div class="collapse navbar-collapse" id="myNavbar"> 
                    <ul class="nav navbar-nav navbar-right"> 
                        <li><a href="/upload"><span class="glyphicon glyphicon-upload"></span> Upload</a></li> 
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul> 
                </div> 
            </div> 
        </div>

		<div class="container container-fluid">
            <div class="row">
                <main class="col-md-9 ml-sm-auto col-lg-12 px-md-4 py-4">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-lg-0">
                            <div class="card">
                                <h1 class="h1" style="margin-top: 100px; margin-bottom: 20px;">Statistics</h1>
                                <div class="card col-lg-6">
                                    <h4 class="card-header">File Name : {{file.file.name}}</h4>
                                    <h4 class="card-header">Organization : {{file.organization}}</h4>
                                    <br>
                                    <h4 class="card-header">Total Subnets : {{totalcnt}}</h4>
                                    <h4 class="card-header">Distinct Locations : {{locationcnt}}</h4>
                                    <h4 class="card-header">Public Subnets : {{publiccnt}}</h4>
                                    <center>
                                        <form method="post" action="/removePublic/?file_id={{file.file_id}}">
                                        {% csrf_token %}
                                        {% if public_subnets %}
                                            <div class="form-group col-lg-4">
                                                <input style="margin-top: 50px; margin-bottom: 50px;" type="submit" value="Remove Public Subnets" class="btn btn-danger">
                                            </div>
                                        {% else %}
                                            <div class="form-group col-lg-4">
                                                <input style="margin-top: 50px; margin-bottom: 50px;" type="submit" value="Remove Public Subnets" class="btn btn-danger" disabled>
                                            </div>
                                        {% endif %}
                                        </form>
                                        <div class="form-group col-lg-4">
                                            <button onclick="'/stats/viewSelfConflicts/?file_id={{file.file_id}}'" style="margin-top: 50px; min-width: 170px; margin-bottom: 50px;" type="submit" value="View Self Conflicts" class="btn btn-primary"><a style="color: white;" href="/stats/viewSelfConflicts/?file_id={{file.file_id}}">View Self Conflicts</a></button>
                                        </div>
                                        <form method="post" action="/resolveSelfConflicts/?file_id={{file.file_id}}">
                                        {% csrf_token %}
                                        {% if overlappings %}
                                            <div class="form-group col-lg-4">
                                                <input style="margin-top: 50px; margin-bottom: 50px;" type="submit" value="Remove Self Conflicts" class="btn btn-danger">
                                            </div>
                                        {% else %}
                                            <div class="form-group col-lg-4">
                                                <input style="margin-top: 50px; margin-bottom: 50px;" type="submit" value="Remove Self Conflicts" class="btn btn-danger" disabled>
                                            </div>
                                        {% endif %}
                                        </form>
                                    </center>
                                    <br><br>
                                    {% if overlapcnt >= 0 %}
                                    <h4 class="card-header" style="margin-top: 50px;">Overlapping Subnets : {{overlapcnt}}</h4>
                                    <h4 class="card-header">Number of overlaps : {{overlappaircnt}}</h4>
                                    {% endif %}
                                    {% if overlappings %}
                                    <br>
                                    <h4 class="card-header">List of Overlapping Subnets</h4>
                                    <br>
                                        <table class="col-lg-12 table table-hover table-bordered table-responsive text-center" style="margin-bottom: 100px;">
                                            <tbody>
                                                <tr>
                                                    <th><center>Location 1</center></th>
                                                    <th><center>Subnet 1</center></th>
                                                    <th><center>Location 2</center></th>
                                                    <th><center>Subnet 2</center></th>
                                                </tr>
                                                {% for pair in overlappings %}
                                                <tr class="table-warning">
                                                    <td>{{ pair.0.0 }}</td>
                                                    <td>{{ pair.0.1 }}</td>
                                                    <td>{{ pair.1.0 }}</td>
                                                    <td>{{ pair.1.1 }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <br>
                                    </ul>
                                    {% endif %}
                                </div>
                                {% if public_subnets %}
                                <ul class="list-group col-lg-offset-2 col-lg-4" style="margin-bottom: 100px;">
                                    <h4 class="card-header">List of Public Subnets</h4>
                                    <br>
                                    {% for subnet in public_subnets %}
                                    <li class="list-group-item list-group-item-warning">{{ subnet }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
		

		<footer class = "navbar navbar-fixed-bottom">
            <div class="container"> 
                <center> 
                    <p>
                        For further information contact A Kedarnath (<a href="mailto:akedar@iitk.ac.in">akedar@iitk.ac.in</a>) or Atreya Goswami (<a href="mailto:atreya@iitk.ac.in">atreya@iitk.ac.in</a>).
                    </p> 
                </center> 
            </div> 
        </footer>
	</body>
</html>